@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
}

.row, .container, .container-fluid {
  margin: 0;
  padding: 0;
}

.navbar {
  padding: 1rem 1rem;
  background-color: #fff3e8;
}

.nav-item a {
  color: #494747;
  font-size: 20px;
  text-align: right;
  margin-right: 5px;
}
.nav-item a:hover {
  color: #DBAE84;
}

.nav-item .disabled {
  color: #DBAE84;
}

.nav-item .active {
  background-color: #fff3e8;
  border-radius: 5px;
}

.fondo-portada {
  opacity: 0.6;
}

.titulo-portada {
  top: 90px;
  left: 40px;
  text-align: left;
}
.titulo-portada h1 {
  font-size: 50px;
  font-weight: bold;
  color: #DBAE84;
}
.titulo-portada p {
  font-size: 20px;
  color: black;
}

.logo img {
  width: 200px;
  padding: 5px 10px;
}

.rebajas h2 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
  padding: 5px;
}
.rebajas p {
  font-size: 20px;
  padding: 5px;
  text-align: center;
}

.tarjeta-rebajas p {
  font-size: 18px;
}
.tarjeta-rebajas button {
  width: 100px;
  background-color: #DBAE84;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 15px;
}

.img-tarjeta:hover {
  transition: 1s;
  transform: translate(10px, 10px);
}

.novedades h2 {
  font-size: 30px;
  font-weight: bold;
  padding: 5px;
  text-align: center;
  margin-top: 30px;
}
.novedades p {
  font-size: 20px;
  padding: 10px;
  text-align: center;
}

.tarjeta-novedades h3 {
  padding: 1rem 0rem;
}
.tarjeta-novedades img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.tarjeta-novedades button {
  width: 100px;
  background-color: #DBAE84;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 15px;
}

.footer {
  margin-top: 200px;
  background-color: #fff3e8;
}
.footer a {
  color: #494747;
  font-size: 15px;
  text-decoration: none;
}
.footer .titulo-footer h4 {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 5px;
}
.footer .redes h4 {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 5px;
}

.derechos {
  background-color: #fff3e8;
}
.derechos p {
  color: #494747;
  text-decoration: none;
  padding: 10px;
  font-size: 15px;
}

.iniciar-sesion h1 {
  font-size: 30px;
  margin-top: 20px;
  padding: 10px;
}
.iniciar-sesion p {
  font-size: 20px;
  margin-top: 20px;
  padding: 10px;
}
.iniciar-sesion button {
  background-color: #DBAE84;
  color: white;
  font-size: 18px;
  padding: 5px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
  width: 100%;
  margin: 5px;
}

.fondo-favoritos {
  position: relative;
}
.fondo-favoritos img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.fondo-favoritos .favoritos {
  position: absolute;
  top: 60px;
  left: 60px;
}
.fondo-favoritos .favoritos h1 {
  font-size: 30px;
  text-align: left;
  margin-top: 10px;
}
.fondo-favoritos .favoritos p {
  font-size: 20px;
  text-align: left;
  margin-top: 20px;
}

.articulos-fav img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.articulos-fav h3 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}
.articulos-fav a {
  color: #DBAE84;
  margin-bottom: 10px;
  text-decoration: none;
  font-size: 18px;
}
.articulos-fav p {
  font-size: 18px;
}
.articulos-fav button {
  background-color: #DBAE84;
  color: white;
  font-size: 18px;
  padding: 5px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
  width: 75%;
  margin: 5px;
}
.articulos-fav label {
  margin-bottom: 10px;
  text-decoration: none;
  font-size: 18px;
}

.fondo-mi-carrito {
  position: relative;
}
.fondo-mi-carrito img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.fondo-mi-carrito .mi-carrito {
  position: absolute;
  top: 60px;
  left: 60px;
}
.fondo-mi-carrito .mi-carrito h1 {
  font-size: 30px;
  text-align: left;
  margin-top: 10px;
}
.fondo-mi-carrito .mi-carrito p {
  font-size: 20px;
  text-align: left;
  margin-top: 20px;
}

.productos-compra img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.productos-compra h3 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}
.productos-compra a {
  color: #DBAE84;
  margin-bottom: 10px;
  text-decoration: none;
  font-size: 18px;
}
.productos-compra p {
  font-size: 18px;
}
.productos-compra button {
  background-color: #DBAE84;
  color: white;
  font-size: 18px;
  padding: 5px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
  width: 75%;
  margin: 5px;
}
.productos-compra label {
  margin-bottom: 10px;
  text-decoration: none;
  font-size: 18px;
}
.productos-compra .tabla {
  border: none;
  padding: 30px;
}
.productos-compra .tabla td,
.productos-compra .tabla th {
  padding: 10px;
}
.productos-compra .tabla .total {
  font-size: 20px;
  font-weight: bold;
}
.productos-compra .tabla .resumen {
  font-size: 20px;
  font-weight: bold;
}

.contacto {
  text-align: center;
}
.contacto h2 {
  font-size: 30px;
  margin: 20px;
}
.contacto p {
  font-size: 25px;
}

.form-contacto {
  width: 600px;
  background-color: #fff3e8;
  margin: auto;
  padding: 20px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "nombre apellido" "mail tel" "mensaje mensaje" "button button";
}
.form-contacto label {
  display: flex;
  flex-direction: column;
  color: #494747;
  padding: 20px;
}
.form-contacto label input,
.form-contacto label textarea {
  background-color: #fff3e8;
  border: none;
  border-bottom: 1px solid #DBAE84;
  padding: 10px;
}
.form-contacto label:nth-child(1) {
  grid-area: nombre;
}
.form-contacto label:nth-child(2) {
  grid-area: apellido;
}
.form-contacto label:nth-child(3) {
  grid-area: mail;
}
.form-contacto label:nth-child(4) {
  grid-area: tel;
}
.form-contacto label:nth-child(5) {
  grid-area: mensaje;
}
.form-contacto button {
  background-color: #DBAE84;
  color: white;
  font-size: 18px;
  padding: 5px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
  width: 100%;
  margin: 10px;
  margin-left: 50%;
}

.mapa h2 {
  margin-top: 30px;
  margin-bottom: 20px;
}
.mapa p {
  margin-bottom: 20px;
  margin-left: 10px;
}

@media (max-width: 600px) {
  .contacto h2 {
    font-size: 25px;
  }
  .form-contacto {
    display: block;
    width: 100%;
  }
  .form-contacto button {
    margin-left: 0;
  }
  .mapa iframe {
    padding: 5px;
    width: 100%;
  }
}
.portada-mujer img {
  margin: 0 auto;
  display: block;
}

.tarjeta-mujer img {
  width: 300px;
  height: 300px;
  padding: 15px;
  margin: 10px;
  object-fit: cover;
  margin-top: 10px;
  transition: 1s all;
}
.tarjeta-mujer img:hover {
  transition: 1s;
  transform: scale(1.2);
}
.tarjeta-mujer h3 {
  margin-top: 20px;
  margin-left: 110px;
}

.descuentos .titulo-descuentos h2 {
  color: black;
  font-size: 30px;
  padding: 5px;
  margin-top: 20px;
  text-align: center;
}
.descuentos .titulo-descuentos p {
  color: black;
  font-size: 20px;
  padding: 10px;
  text-align: center;
}
.descuentos .fotos-descuentos img {
  width: 600px;
  height: 600px;
  padding: 15px;
  object-fit: cover;
}
.descuentos .fotos-descuentos p {
  font-size: 20px;
  text-align: center;
}
.descuentos .texto-mujer {
  padding: 20px;
  max-width: 1200px;
  margin: 10px;
}
.descuentos .texto-mujer h2 {
  color: black;
  font-size: 30px;
  font-weight: bold;
  padding: 5px;
  margin-top: 20px;
  text-align: center;
}
.descuentos .texto-mujer p {
  color: black;
  font-size: 20px;
  padding: 10px;
  text-align: justify;
}
.descuentos .texto-mujer button {
  background-color: #DBAE84;
  color: white;
  font-size: 18px;
  padding: 5px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
  width: auto;
  margin: 10px;
}

@media (max-width: 600px) {
  .descuentos .fotos-descuentos img {
    width: 300px;
    height: 300px;
  }
}
.portada-hombre img {
  margin: 0 auto;
  display: block;
}

.titulo-hombre h2 {
  color: black;
  font-size: 30px;
  padding: 5px;
  margin-top: 20px;
  text-align: center;
}
.titulo-hombre p {
  color: black;
  font-size: 20px;
  padding: 10px;
}

.tarjeta-hombre img {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

.texto-hombre {
  padding: 20px;
  max-width: 1200px;
  margin: 10px;
}
.texto-hombre h2 {
  color: black;
  font-size: 30px;
  font-weight: bold;
  padding: 5px;
  margin-top: 20px;
  text-align: center;
}
.texto-hombre p {
  color: black;
  font-size: 20px;
  padding: 10px;
  text-align: justify;
}
.texto-hombre button {
  background-color: #DBAE84;
  color: white;
  font-size: 18px;
  padding: 5px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
  width: auto;
  margin: 10px;
}

@media (max-width: 600px) {
  .tarjeta-hombre img {
    width: 300px;
    height: 300px;
  }
}
.portada-niños img {
  margin: 0 auto;
  display: block;
}

.tarjeta-niños img {
  width: 400px;
  height: 400px;
  padding: 15px;
  margin: 10px;
  object-fit: cover;
  margin-top: 10px;
}
.tarjeta-niños h2 {
  color: black;
  font-size: 30px;
  padding: 5px;
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 60px;
}
.tarjeta-niños p {
  color: black;
  font-size: 20px;
  margin-left: 25px;
}

.texto-niños {
  padding: 20px;
  max-width: 1200px;
  margin: 10px;
}
.texto-niños h2 {
  color: black;
  font-size: 30px;
  font-weight: bold;
  padding: 5px;
  margin-top: 20px;
  text-align: center;
}
.texto-niños h3 {
  color: #DBAE84;
  font-size: 25px;
  font-weight: bold;
  padding: 5px;
  margin-top: 20px;
  text-align: justify;
}
.texto-niños p {
  color: black;
  font-size: 20px;
  padding: 10px;
  text-align: justify;
}
.texto-niños button {
  background-color: #DBAE84;
  color: white;
  font-size: 18px;
  padding: 5px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
  width: auto;
  margin: 10px;
}

@media (max-width: 600px) {
  .tarjeta-niños img {
    width: 300px;
    height: 300px;
  }
}
.portada-accesorios img {
  margin: 0 auto;
  display: block;
}

.contenido-accesorios .tarjeta-accesorios img {
  width: 300px;
  height: 300px;
  padding: 15px;
  margin: 10px;
  object-fit: cover;
  margin-top: 10px;
}
.contenido-accesorios .tarjeta-accesorios h3 {
  color: black;
  font-size: 30px;
  padding: 5px;
  margin-top: 20px;
  text-align: center;
}
.contenido-accesorios .tarjeta-accesorios p {
  color: black;
  font-size: 20px;
  padding: 10px;
  text-align: center;
}
.contenido-accesorios .texto-accesorios {
  padding: 20px;
  margin: 10px;
}
.contenido-accesorios .texto-accesorios h2 {
  color: black;
  font-size: 30px;
  font-weight: bold;
  padding: 5px;
  margin-top: 20px;
  text-align: center;
}
.contenido-accesorios .texto-accesorios h3 {
  color: #DBAE84;
  font-size: 25px;
  font-weight: bold;
  padding: 5px;
  margin-top: 20px;
  text-align: left;
}
.contenido-accesorios .texto-accesorios p {
  color: black;
  font-size: 20px;
  padding: 10px;
  text-align: left;
}
.contenido-accesorios .texto-accesorios button {
  background-color: #DBAE84;
  color: white;
  font-size: 18px;
  padding: 5px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
  width: auto;
  margin: 10px;
}

/*# sourceMappingURL=style.css.map */
