@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
}

.row, .container, .container-fluid {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #fff3e8;
}

.nav-item a {
  color: #494747;
  font-size: 20px;
  text-align: right;
  margin-right: 5px;
}

.nav-item a:hover {
  color: #DBAE84;
}

.nav-item .disabled {
  color: #DBAE84;
}

.nav-item .active {
  background-color: #fff3e8;
  border-radius: 5px;
}

.portada img {
  width: 100%;
  height: 700px;
  object-fit: cover;
}
.portada h1 {
  margin-left: 7px;
  color: #DBAE84;
}

.logo img {
  width: 200px;
  padding: 5px 10px;
}

.rebajas h2 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
  padding: 5px;
}
.rebajas p {
  font-size: 20px;
  padding: 5px;
  text-align: center;
}

.tarjeta-rebajas p {
  font-size: 18px;
}
.tarjeta-rebajas button {
  width: 100px;
  background-color: #DBAE84;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 15px;
}

.img-fluid:hover {
  transition: 1s;
  transform: translate(10px, 10px);
}

.novedades h2 {
  font-size: 30px;
  font-weight: bold;
  padding: 5px;
  text-align: center;
  margin-top: 30px;
}
.novedades p {
  font-size: 20px;
  padding: 10px;
  text-align: center;
}

.tarjeta-novedades img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.tarjeta-novedades button {
  width: 100px;
  background-color: #DBAE84;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 15px;
}

.footer {
  margin-top: 200px;
  background-color: #fff3e8;
}
.footer a {
  color: #494747;
  font-size: 15px;
  text-decoration: none;
}

.titulo-footer h4 {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 5px;
}

.redes h4 {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 5px;
}

.derechos {
  background-color: #fff3e8;
  color: #494747;
  text-decoration: none;
  padding: 10px;
  font-size: 15px;
}

.iniciar-sesion h1 {
  font-size: 30px;
  margin-top: 20px;
  padding: 10px;
}
.iniciar-sesion p {
  font-size: 20px;
  margin-top: 20px;
  padding: 10px;
}
.iniciar-sesion button {
  background-color: #DBAE84;
  color: white;
  font-size: 18px;
  padding: 5px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
  width: 100%;
  margin-left: 0;
}

.fondo-favoritos {
  position: relative;
}
.fondo-favoritos .favoritos {
  position: absolute;
  top: 60px;
  left: 80px;
}
.fondo-favoritos img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.favoritos h1 {
  font-size: 30px;
  text-align: left;
  margin-top: 10px;
}
.favoritos p {
  font-size: 20px;
  text-align: left;
  margin-top: 20px;
}

.articulos-fav {
  padding: 40px;
}
.articulos-fav img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.articulos-fav h3 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}
.articulos-fav a {
  color: #DBAE84;
  margin-bottom: 10px;
  text-decoration: none;
  font-size: 18px;
}
.articulos-fav p {
  font-size: 18px;
}
.articulos-fav button {
  background-color: #DBAE84;
  color: white;
  font-size: 18px;
  padding: 5px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
  width: 100%;
  margin-left: 0;
}
.articulos-fav label {
  margin-bottom: 10px;
  text-decoration: none;
  font-size: 18px;
}

.fondo-mi-carrito {
  position: relative;
}
.fondo-mi-carrito .mi-carrito {
  position: absolute;
  top: 60px;
  left: 80px;
}
.fondo-mi-carrito img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.mi-carrito h1 {
  font-size: 30px;
  text-align: left;
  margin-top: 10px;
}
.mi-carrito p {
  font-size: 20px;
  text-align: left;
  margin-top: 20px;
}

.productos-compra {
  padding: 30px;
}
.productos-compra img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.productos-compra h3 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}
.productos-compra a {
  color: #DBAE84;
  margin-bottom: 10px;
  text-decoration: none;
  font-size: 18px;
}
.productos-compra p {
  font-size: 18px;
}
.productos-compra button {
  background-color: #DBAE84;
  color: white;
  font-size: 18px;
  padding: 5px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
  width: 100%;
  margin-left: 0;
}
.productos-compra label {
  margin-bottom: 10px;
  text-decoration: none;
  font-size: 18px;
}

.tabla {
  border: none;
  padding: 30px;
}
.tabla td,
.tabla th {
  padding: 10px;
}
.tabla .total {
  font-size: 20px;
  font-weight: bold;
}
.tabla .resumen {
  font-size: 20px;
  font-weight: bold;
}

.contacto h2 {
  font-size: 30px;
  text-align: center;
  margin: 20px;
}

.form-contacto {
  width: 600px;
  background-color: #fff3e8;
  margin: auto;
  padding: 20px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "nombre apellido" "mail tel" "mensaje mensaje" "button button";
}
.form-contacto label {
  display: flex;
  flex-direction: column;
  color: #494747;
  padding: 20px;
}
.form-contacto label input,
.form-contacto label textarea {
  background-color: #fff3e8;
  border: none;
  border-bottom: 1px solid #DBAE84;
  padding: 10px;
}
.form-contacto label:nth-child(1) {
  grid-area: nombre;
}
.form-contacto label:nth-child(2) {
  grid-area: apellido;
}
.form-contacto label:nth-child(3) {
  grid-area: mail;
}
.form-contacto label:nth-child(4) {
  grid-area: tel;
}
.form-contacto label:nth-child(5) {
  grid-area: mensaje;
}
.form-contacto button {
  background-color: #DBAE84;
  color: white;
  font-size: 18px;
  padding: 5px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
  width: 100%;
  margin-left: 50%;
}

.mapa {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mapa h2 {
  margin-top: 30px;
  margin-bottom: 20px;
}
.mapa p {
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  .contacto h2 {
    font-size: 25px;
  }
  .form-contacto {
    display: block;
    width: 100%;
  }
  .form-contacto button {
    margin-left: 0;
  }
  .mapa iframe {
    padding: 5px;
    width: 100%;
  }
}
.contenido-mujer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.tarjeta-mujer img {
  width: 300px;
  height: 300px;
  padding: 15px;
  margin: 10px;
  object-fit: cover;
  margin-top: 10px;
}
.tarjeta-mujer h3 {
  margin-top: 20px;
  margin-left: 110px;
}

.img-mujer:hover {
  transition: 1s;
  transform: scale(1.2);
}

.descuentos {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.titulo-descuentos h2 {
  color: black;
  font-size: 30px;
  padding: 5px;
  margin-top: 20px;
  text-align: center;
}
.titulo-descuentos p {
  color: black;
  font-size: 20px;
  padding: 10px;
  text-align: center;
}

.fotos-descuentos img {
  width: 600px;
  height: 600px;
  padding: 15px;
  object-fit: cover;
}
.fotos-descuentos p {
  font-size: 20px;
  text-align: center;
}

@media (max-width: 600px) {
  .titulo-descuentos h2 {
    font-size: 25px;
  }
  .titulo-descuentos p {
    font-size: 18px;
  }
  .descuentos .fotos-descuentos img {
    width: 300px;
    height: 300px;
  }
}
.contenido-hombre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.tarjeta-hombre img {
  width: 600px;
  height: 600px;
  padding: 15px;
  margin: 10px;
  object-fit: cover;
  margin-top: 10px;
}
.tarjeta-hombre h2 {
  color: black;
  font-size: 30px;
  padding: 5px;
  margin-top: 20px;
  text-align: center;
}
.tarjeta-hombre p {
  color: black;
  font-size: 20px;
  padding: 10px;
  text-align: center;
}

@media (max-width: 600px) {
  .tarjeta-hombre h2 {
    font-size: 25px;
  }
  .tarjeta-hombre p {
    font-size: 18px;
  }
  .tarjeta-hombre img {
    width: 300px;
    height: 300px;
  }
}
.contenido-niños {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.tarjeta-niños img {
  width: 400px;
  height: 400px;
  padding: 15px;
  margin: 10px;
  object-fit: cover;
  margin-top: 10px;
}
.tarjeta-niños h2 {
  color: black;
  font-size: 30px;
  padding: 5px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 60px;
}
.tarjeta-niños p {
  color: black;
  font-size: 20px;
  margin-left: 20px;
  padding: 10px;
}

@media (max-width: 600px) {
  .tarjeta-niños h2 {
    font-size: 25px;
  }
  .tarjeta-niños p {
    font-size: 18px;
  }
  .tarjeta-niños img {
    width: 300px;
    height: 300px;
  }
}
.contenido-accesorios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.tarjeta-accesorios img {
  width: 300px;
  height: 300px;
  padding: 15px;
  margin: 10px;
  object-fit: cover;
  margin-top: 10px;
}
.tarjeta-accesorios h3 {
  color: black;
  font-size: 30px;
  padding: 5px;
  margin-top: 20px;
  text-align: center;
}
.tarjeta-accesorios p {
  color: black;
  font-size: 20px;
  padding: 10px;
  text-align: center;
}

@media (max-width: 600px) {
  .tarjeta-accesorios h3 {
    font-size: 25px;
  }
  .tarjeta-accesorios p {
    font-size: 18px;
  }
}

/*# sourceMappingURL=style.css.map */
