.portada-hombre {
    img {
        margin: 0 auto;
        display: block;
    }
}

.titulo-hombre {
    h2 {
        color: black;
        font-size: 30px;
        padding: 5px;
        margin-top: 20px;
        text-align: center;
    }

    p {
        color: black;
        font-size: 20px;
        padding: 10px;
    }
}

.tarjeta-hombre {
    img {
        width: 300px;
        height: 300px;
        object-fit: cover;
        box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.15);
    }

    h3 {
        font-size: 20px;
        font-weight: bold;
        margin-top: 10px;

    }

    a {
        color: $bg-color;
        text-decoration: none;
        font-size: 18px;
    }

    p {
        font-size: 18px;
    }

    button {
        @include boton2($bg-color-secundario, $color, 18px, 75%, 5px)
    }

    label {
        margin-bottom: 10px;
        text-decoration: none;
        font-size: 18px;
    }

    .fa-heart {
        cursor: pointer;
    }
}

.texto-hombre {
    padding: 20px;
    max-width: 1200px;
    margin: 10px;

    h2 {
        color: black;
        font-size: 30px;
        font-weight: bold;
        padding: 5px;
        margin-top: 20px;
        text-align: center;
    }

    p {
        color: black;
        font-size: 20px;
        padding: 10px;
        text-align: justify;
    }

    button {
        @include boton2($bg-color, $color-secundario, 18px, auto, 10px)
    }
}


@media(max-width:600px) {
    .tarjeta-hombre {
        img {
            width: 300px;
            height: 300px;
        }
    }
}