.iniciar-sesion {
    h1 {
        font-size: 30px;
        margin-top: 20px;
        padding: 10px;
    }

    p {
        font-size: 20px;
        text-align: center;
        padding: 10px;
    }

    button {
        @include boton2($bg-color, $color-secundario, 18px, 100%, 5px)
    }
}