.portada-mujer {
    img {
        margin: 0 auto;
        display: block;
    }
}

.titulo-mujer {
    h2 {
        color: black;
        font-size: 30px;
        padding: 5px;
        margin-top: 20px;
        text-align: center;
    }
}

.tarjeta-mujer {
    img {
        width: 300px;
        height: 300px;
        object-fit: cover;
    }

    h3 {
        font-size: 20px;
        font-weight: bold;
        margin-top: 10px;

    }

    a {
        color: $bg-color;
        text-decoration: none;
        font-size: 18px;
    }

    p {
        font-size: 18px;
    }

    button {
        @include boton2($bg-color-secundario, $color, 18px, 75%, 5px)
    }

    label {
        margin-bottom: 10px;
        text-decoration: none;
        font-size: 18px;
    }
}

.descuentos {
    .titulo-descuentos {
        h2 {
            color: black;
            font-size: 30px;
            padding: 5px;
            margin-top: 20px;
        }

        p {
            color: black;
            font-size: 20px;
            padding: 10px;
            text-align: center;
        }
    }

    .fotos-descuentos {
        text-align: center;

        img {
            width: 400px;
            height: 400px;
            padding: 10px;
            object-fit: cover;
        }

        p {
            font-size: 20px;
        }

        button {
            @include boton1($bg-color-secundario, $color, $font-size)
        }
    }
}

.texto-mujer {
    max-width: 1200px;
    margin: 10px;

    h2 {
        color: black;
        font-size: 30px;
        font-weight: bold;
        padding: 5px;
        margin-top: 20px;
        text-align: center;
    }

    p {
        color: black;
        font-size: 20px;
        padding: 10px;
        text-align: justify;
    }

    button {
        @include boton2($bg-color, $color-secundario, 18px, auto, 10px)
    }
}

@media(max-width:600px) {
    .descuentos .fotos-descuentos img {
        width: 300px;
        height: 300px;
    }

}