.portada-niños {
    img {
        margin: 0 auto;
        display: block;
    }
}

.tarjeta-niños {
    text-align: center;
    margin: 10px;

    img {
        width: 400px;
        height: 400px;
        margin: 10px;
        object-fit: cover;
        box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.15);
    }

    h2 {
        color: black;
        font-size: 30px;
        padding: 15px;
        margin-top: 40px;
        margin-left: 20px;
        margin-right: 60px;

    }

    p {
        color: black;
        font-size: 20px;
        margin: 10px;
    }

    button {
        @include boton1($bg-color-secundario, $color, $font-size)
    }
}

.texto-niños {
    max-width: 1200px;
    margin: 10px;

    h2 {
        color: black;
        font-size: 30px;
        font-weight: bold;
        margin-top: 20px;
        text-align: center;
    }

    h3 {
        color: $bg-color;
        font-size: 25px;
        font-weight: bold;
        margin-top: 20px;
        text-align: left;
    }

    p {
        color: black;
        font-size: 20px;
        text-align: justify;
    }

    button {
        @include boton2($bg-color, $color-secundario, 18px, auto, 0px)
    }
}


@media(max-width:600px) {
    .tarjeta-niños {
        img {
            width: 300px;
            height: 300px;
            padding: 0;
            margin: 0;
        }

        h2 {
            color: black;
            font-size: 30px;
            margin: 0px;
        }
    }
}