.portada-ni単os {
    img {
        margin: 0 auto;
        display: block;
    }
}

.tarjeta-ni単os {
    img {
        width: 400px;
        height: 400px;
        padding: 15px;
        margin: 10px;
        object-fit: cover;
        margin-top: 10px;
    }

    h2 {
        color: black;
        font-size: 30px;
        padding: 5px;
        margin-top: 40px;
        margin-left: 20px;
        margin-right: 60px;

    }

    p {
        color: black;
        font-size: 20px;
        margin-left: 25px;
    }
}

.texto-ni単os {
    padding: 20px;
    max-width: 1200px;
    margin: 10px;

    h2 {
        color: black;
        font-size: 30px;
        font-weight: bold;
        padding: 5px;
        margin-top: 20px;
        text-align: center;
    }

    h3 {
        color: $bg-color;
        font-size: 25px;
        font-weight: bold;
        padding: 5px;
        margin-top: 20px;
        text-align: justify;
    }

    p {
        color: black;
        font-size: 20px;
        padding: 10px;
        text-align: justify;
    }

    button {
        @include boton2($bg-color, $color-secundario, 18px, auto, 10px)
    }
}


@media(max-width:600px) {
    .tarjeta-ni単os {
        img {
            width: 300px;
            height: 300px;
        }
    }
}