.portada-ni単os {
    img {
        width: 100%;
        height: 700px;
        object-fit: cover;
    }
}

.contenido-ni単os {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.tarjeta-ni単os {
    img {
        width: 400px;
        height: 400px;
        padding: 15px;
        margin: 10px;
        object-fit: cover;
        margin-top: 10px;
    }

    h2 {
        color: black;
        font-size: 30px;
        padding: 5px;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 60px;

    }

    p {
        color: black;
        font-size: 20px;
        margin-left: 20px;
        padding: 10px;
    }
}

@media(max-width:600px) {
    .tarjeta-ni単os {
        h2 {
            font-size: 25px;
        }

        p {
            font-size: 18px;
        }

        img {
            width: 300px;
            height: 300px;
        }
    }
}