.novedades {
    h2 {
        font-size: 30px;
        font-weight: bold;
        padding: 5px;
        text-align: center;
        margin-top: 30px;
    }

    p {
        font-size: 20px;
        padding: 10px;
        text-align: center;
    }
}

.tarjeta-novedades {
    h3 {
        padding: 1rem 0rem;
    }

    img {
        width: 300px;
        height: 300px;
        object-fit: cover;
    }

    button {
        @include boton1($bg-color, $color-secundario, 18px)
    }

}