.fondo-portada {
    opacity: 0.6;
}

.titulo-portada {
    top: 90px;
    left: 40px;
    text-align: left;

    h1 {
        font-size: 50px;
        font-weight: bold;
        color: $bg-color;
    }

    p {
        font-size: 20px;
        color: $color;
    }
}

.logo img {
    width: 200px;
    padding: 5px 10px;
}