.rebajas {
    h2 {
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        margin-top: 30px;
        padding: 5px;
    }

    p {
        font-size: 20px;
        padding: 5px;
        text-align: center;
    }
}

.tarjeta-rebajas {
    p {
        font-size: 18px;
    }

    button {
        @include boton1($bg-color, $color-secundario, $font-size)
    }
}

.img-fluid:hover {
    transition: 1s;
    transform: translate(10px, 10px);
}